*{
    font-family: "helvetica neue", "helvetica", sans-serif;

}

header {
    width: 100%;
    background-color: #255f4f;
    border-bottom: 10px solid #dcb095;
    position: fixed;
    top: 0;
    left:0;
    color: beige;
}

nav {
    background-color: #255f4f;
    color: beige;
}

ul {
    background-color: #255f4f;
    text-align: right;
    color: white;
}

li {
    display:inline;
    list-style-type: none;
    background-color: #255f4f;
    padding-right: 10px;
    color: beige;
}

img {
    display:block;
    margin: 0 auto;
}

h2 {
    text-align: center;
    background-color: #e8cebf;
    color: #4f4847;
}

p {
    text-align: center;
    padding-bottom: 10px;
    color: #4f4847;
}

a:link {
    color:beige;
    text-decoration: none;
}

a:visited {
    color:beige;
    text-decoration: none;
}

a:hover {
    color: #dcb095;
}

.header-1{
    text-align: center;
    padding-top: 20px;
    color: #4f4847;
}

.content{
    background-color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4f4847;
    position: static;
    left:0;
    right:0;
}

#contact-me {
    width: 100%;
    background-color: #e8cebf;
    border-top: 5px solid #dcb095;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4f4847;
}

#contact-1{
    margin: auto;
    width: 50%;
    background-color: #e8cebf;
    border: 10px solid #dcb095;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align:center;
    color: #4f4847;
}

#name{
    text-align: center;
    display: block;
    padding: 3px;
    background-color: #e8cebf;
    color: #4f4847;
}

#email{
    text-align: center;
    display: block;
    padding: 3px;
    background-color:#e8cebf;
    color: #4f4847;
}

#submit{
    display: block;
    padding: 3px;
    background-color: #e8cebf;
}

#footer {
    color: beige;
    text-align: center;
    width: 100%;
    background-color: #255f4f;
    padding: 10px;
    border-bottom: 10px solid #4f4847;
}